.fib, .fi {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.fi {
  position: relative;
  display: inline-block;
  width: 1.333333em;
  line-height: 1em;
}
.fi:before {
  content: " ";
}
.fi.fis {
  width: 1em;
}

.fi-br {
  background-image: url(../assents/flags/4x3/br.svg);
}
.fi-br.fis {
  background-image: url(../assents/flags/1x1/br.svg);
}

.fi-cl {
  background-image: url(../assents/flags/4x3/cl.svg);
}
.fi-cl.fis {
  background-image: url(../assents/flags/1x1/cl.svg);
}

.fi-us {
  background-image: url(.../assents/flags/4x3/us.svg);
}
.fi-us.fis {
  background-image: url(.../assents/flags/1x1/us.svg);
}